{% load static %}
<nav class="navbar navbar-expand-lg">
    <div class="container px-0">
        <a class="p-1" href="#">
            <img width="32px" height="32px" src="{% static 'img/house.png' %}" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav custom-nav-width">
                <li class="nav-item fw-bold">
                    <a class="nav-link" aria-current="page" href="{% url 'indice' %}">Inicio</a>
                </li>
                {% if user.is_authenticated %}

                {% if profile.tipo_usuario.descripcion == 'Arrendador' %}
                <li class="nav-item fw-bold">
                    <a class="nav-link" aria-current="page" href="{% url 'gestionar_inmuebles' %}">Gestionar
                        Inmuebles</a>
                </li>
                {% elif profile.tipo_usuario.descripcion == 'Arrendatario' %}
                <li class="nav-item fw-bold">
                    <a class="nav-link" aria-current="page" href="{% url 'explorar_inmuebles' %}">Buscar Arriendos</a>
                </li>
                {% endif %}
                {% endif %}
                <li class="nav-item fw-bold">
                    <a class="nav-link" aria-current="page" href="{% url 'acerca' %}">Acerca</a>
                </li>
                <li class="nav-item fw-bold">
                    <a class="nav-link" aria-current="page" href="{% url 'contacto' %}">Contacto</a>
                </li>
                {% if user.is_authenticated %}
                <div class="btn-group custom-nav-item">
                    <a type="button" class="btn btn-primary primary-bg-miki-color d-flex align-items-center"
                        href="{% url 'profile' %}">
                        {{user.first_name}}
                    </a>
                    <div class="btn-group dropstart" role="group">
                        <button type="button" class="btn btn-primary" data-bs-toggle="dropdown" aria-expanded="false">
                            <img width="22px" height="22px" class="negro-blanco"
                                src="{% static 'img/icon-notification.png' %}" alt="">
                        </button>
                        <ul class="dropdown-menu">
                            {% if mensajes|length > 0 %}
                            {% for mensaje in mensajes %}
                            <li class="d-flex align-items-center">
                                {% if mensaje.visto == False %}
                                <span class="punto-rojo ms-1"></span>
                                {% endif %}
                                <a class="dropdown-item" href="/detalle-inmueble/{{mensaje.id_inmueble.id}}/">
                                    {{mensaje.id_arrendador.first_name}} - {{mensaje.id_inmueble.nombre}}
                                </a>
                            </li>
                            {% endfor %}
                            {% else %}
                            <li class="d-flex align-items-center">
                                <span class="ps-3">No hay mensajes</span>
                            </li>
                            {% endif %}
                        </ul>
                    </div>

                    <a type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'actualizar_prefil' %}">Actualizar Perfil</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar
                                Sesion</a></li>
                    </ul>
                </div>
                {% else %}
                <div class="custom-nav-item d-lg-flex">
                    <li class="nav-item">
                        <a type="button" class="btn btn-primary mb-1 mb-lg-0 me-0 me-lg-1" aria-current="page"
                            href="{% url 'register' %}">Registrarse</a>
                    </li>
                    <li class="nav-item">
                        <a type="button" class="btn btn-primary" aria-current="page" href="{% url 'login' %}">Iniciar
                            Sesion</a>
                    </li>
                </div>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>