{% extends "base.html" %}

{% block content %}

<main class="container py-5">
    <div class="row text-center mb-4">
        <h1>Acerca</h1>
    </div>
    <div class="row p-2 background-opacity">
        <div class="row text-center my-3">
            <h2>Bienvenido a Inmobiliarias MIKI</h2>
            <p class="fst-italic fw-light">
                Tu plataforma confiable para encontrar la propiedad ideal
            </p>
        </div>
        <div class="row text-center p-4">
            <h3 class="mb-2">Publica y Encuentra Propiedades con Facilidad</h3>
            <p class="fs-5 px-5 text-start">
                <b>Para Propietarios y Arrendadores:</b>
                Si tienes una propiedad para arrendar, nuestro sistema intuitivo te permitirá publicarla en pocos pasos.
                Regístrate, completa los detalles de tu inmueble y llega a una audiencia amplia y diversa que busca su
                próximo hogar.
                <br><br>
                <b>Para Arrendatarios:</b> Navega por nuestra extensa base de datos de casas, departamentos y parcelas
                disponibles en arriendo. Filtra tu búsqueda según tus preferencias y encuentra la propiedad perfecta
                para ti.
            </p>
        </div>
        <div class="row text-center p-4">
            <h3 class="mb-2">¿Por qué elegirnos?</h3>
            <p class="fs-5">
                <b>Variedad y Calidad:</b> Ofrecemos una gran selección de propiedades en diferentes ubicaciones y
                estilos para que encuentres exactamente lo que buscas.
                <br><br>
                <b>Seguridad y Confianza:</b> Todas las publicaciones y transacciones en nuestra plataforma son
                monitoreadas para garantizar una experiencia segura y confiable.
                <br><br>
                <b>Fácil de Usar:</b> Nuestro sitio web es amigable y fácil de navegar, lo que te permite encontrar y
                publicar propiedades sin complicaciones.
                <br><br>
                <b>Soporte Dedicado:</b> Contamos con un equipo de soporte siempre disponible para ayudarte con
                cualquier duda o inconveniente que puedas tener.
            </p>
        </div>
        <div class="row text-center p-4">
            <h3 class="mb-2">Únete a Nuestra Comunidad</h3>
            <p class="fs-5">
                Regístrate hoy mismo y forma parte de nuestra comunidad de usuarios satisfechos. Ya sea que necesites
                arrendar tu propiedad o estés buscando un nuevo lugar para vivir, Inmobiliarias MIKI es tu
                aliado ideal.
            </p>
        </div>
    </div>
</main>

{% endblock content %}