{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
    <div class="row text-center mb-4">
        <h1>Contacto</h1>
    </div>
    <div class="row p-2 background-opacity">
        <div class="col-12 col-md-8 m-auto py-5">
            <form action="{% url 'contacto'%}" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="fieldWrapper w-75 m-auto my-4">
                    <label class="fs-5 fw-bold" for="">{{ field.label_tag }}</label>
                    {{ field }}
                    {% for error in field.errors %}
                    <span class="text-danger">{{ error }}</span>
                    {% endfor %}
                </div>
                {% endfor %}
            </form>
            <div class="text-center my-2"><button class="btn btn-primary" type="submit">Submit</button></div>
        </div>
    </div>
</main>
{% endblock %}