{% extends 'base.html' %}

{% block content %}
<div class="row">
    <div class="col-12 col-md-8 m-auto py-5">
        <h1 class="text-center">Contacto</h1>
        <form action="{% url 'contacto'%}" method="post">
            {% csrf_token %}
            {% for field in form %}
            <div class="fieldWrapper p-2">
                <label class="fs-5" for="">{{ field.label_tag }}</label>
                {{ field }}
                {% for error in field.errors %}
                <span class="text-danger">{{ error }}</span>
                {% endfor %}
            </div>
            {% endfor %}
        </form>
        <div class="text-center my-2"><button class="btn btn-primary" type="submit">Submit</button></div>
    </div>
</div>
{% endblock %}