{% extends "base.html" %}
{% load static %}
{% block content %}

<main class="container py-5">
    <div class="row text-center mb-4">
        <h1>{{ title }}</h1>
    </div>
    <div class="card p-2">
        <div class="card-body py-3 px-5">
            <div class="row mb-2">
                <div class="col-12 text-center">
                    <h2 class="card-title m-0">{{inmueble.nombre}}</h2>
                    <h5 class="fw-light fst-italic">{{inmueble.tipo_inmueble.descripcion}}</h5>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12 p-0">
                    <div class="text-center p-3" id="imagen-principal">
                        <img src="{{ imagenes_inmueble.0.imagen.url }}" alt="">
                    </div>
                    <div class="d-flex justify-content-evenly py-3 base__color rounded-top-4" id="contenedor-imagenes">
                        {% for imagen in imagenes_inmueble %}
                        <img class="border border-3 border-black border-opacity-25 p-1 custom__image" width="100px" height="100px" src="{{ imagen.imagen.url }}" alt="">
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="row border-bottom border border-2 mb-2">
                <div
                    class="col-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center border border-1 p-3">
                    <img height="32px" width="32px" src="{% static '/img/icon-location-mid.png' %}" alt="">
                    <h5 class="px-2">Direccion</h5>
                    <span class="fs-6 text-center">
                        {{inmueble.direccion}}, {{inmueble.comuna.nombre}}, {{inmueble.region.nombre}}
                    </span>
                </div>
                <div
                    class="col-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center border border-1 p-3">
                    <img height="32px" width="32px" src="{% static '/img/icon-area-mid.png' %}" alt="">
                    <h5 class="px-2">m² Terreno</h5>
                    <span class="fs-5">
                        {{inmueble.metros_cuadrados_terreno}}
                    </span>
                </div>
                <div
                    class="col-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center border border-1 p-3">
                    <img height="32px" width="32px" src="{% static '/img/icon-area-mid.png' %}" alt="">
                    <h5 class="px-2">m² Construidos</h5>
                    <span class="fs-5">
                        {{inmueble.metros_cuadrados_construidos}}
                    </span>
                </div>
                <div
                    class="col-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center border border-1 p-3">
                    <img height="32px" width="32px" src="{% static '/img/icon-parking-area-mid.png' %}" alt="">
                    <h5 class="px-2">Estacionamientos</h5>
                    <span class="fs-5">
                        {{inmueble.cantidad_estacionamientos}}
                    </span>
                </div>
                <div
                    class="col-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center border border-1 p-3">
                    <img height="32px" width="32px" src="{% static '/img/icon-bed-mid.png' %}" alt="">
                    <h5 class="px-2">Habitaciones</h5>
                    <span class="fs-5">
                        {{inmueble.cantidad_habitaciones}}
                    </span>
                </div>
                <div
                    class="col-12 col-md-6 col-lg-4 d-flex flex-column justify-content-center align-items-center border border-1 p-3">
                    <img height="32px" width="32px" src="{% static '/img/icon-bathroom-mid.png' %}" alt="">
                    <h5 class="px-2">Baños</h5>
                    <span class="fs-5">
                        {{inmueble.cantidad_banios}}
                    </span>
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-12 p-0">
                    <p class="base__color p-3">
                        {{inmueble.descripcion}}
                    </p>
                </div>
            </div>
            <div class="row mb-2 text-center p-2 border border-2">
                <span class="fs-4">Desde {{ inmueble.format_price }} el arriendo mensual</span>
            </div>
            <div class="row mb-2">
                <div class="col-12 d-flex justify-content-evenly">
                    <div class="d-flex align-items-center">
                        <h5 class="me-2 mb-1">Dueño: </h5>
                        <span>{{ inmueble.id_usuario.first_name}} {{inmueble.id_usuario.last_name}}</span>
                    </div>
                    <div class="d-flex align-items-center">
                        <h5 class="me-2 mb-1">Correo: </h5>
                        <span>{{ inmueble.id_usuario.email}}</span>
                    </div>
                </div>
            </div>
            <div class="row">
                {% if profile.tipo_usuario.descripcion == 'Arrendatario' and inmueble.id_usuario != user %}
                <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#contactoArrendadorModal"
                    data-id="{{ inmueble.id }}/{{ inmueble.id_usuario.id }}">
                    Contactar con {{inmueble.id_usuario.first_name}}
                </button>
                {% elif profile.tipo_usuario.descripcion == 'Arrendador' and inmueble.id_usuario == user %}
                <div class="bg-body-secondary overflow-scroll">
                    <h2 class="text-center py-2">Mensajes</h2>
                    <table class="col-12 table table-striped">
                        <thead>
                            <tr>
                                <th>Fecha Mensaje</th>
                                <th>Arrendador</th>
                                <th>Mensaje</th>
                                <th>Contra oferta</th>
                                <th>Visto</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for mensaje in mensajes_inmueble %}
                            <tr>
                                <td class="align-middle">{{mensaje.creacion_registro|date:"d-M-Y "}}</td>
                                <td class="align-middle">{{mensaje.id_arrendatario.first_name}}</td>
                                <td class="align-middle">{{mensaje.mensaje}}</td>
                                <td class="align-middle">{{mensaje.format_price}}</td>
                                <td class="align-middle">
                                    {% if mensaje.visto == True %}
                                    <button class="btn btn-success" disabled>
                                        <img width="16px" height="16px" src="{% static '/img/icon-check.png' %}"
                                            alt="check">
                                    </button>
                                    {% else %}
                                    <form method="post" id="visualizarMensaje"
                                        action="/visualizar-mensaje/{{mensaje.id}}/{{inmueble.id}}/">
                                        {% csrf_token %}
                                        <button type="submit" class="btn btn-info">
                                            <img width="16px" height="16px" src="{% static '/img/icon-close.png' %}"
                                                alt="closed">
                                        </button>
                                    </form>
                                    {% endif %}
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                {% endif %}
            </div>
        </div>
    </div>
    </div>
</main>

<div class="modal fade" id="contactoArrendadorModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="staticBackdropLabel">Enviar mensaje a
                    {{inmueble.id_usuario.first_name}}</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="post" id="contactoArrendatario">
                    {% csrf_token %}
                    <div class="m-auto p-2">
                        <label class="fs-5" for="">{{ formulario_contacto.oferta.label_tag }}</label>
                        {{ formulario_contacto.oferta }}
                        {% if formulario_contacto.oferta.errors %}
                        <div class="error">
                            {% for error in formulario_contacto.oferta.errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <div class="m-auto p-2">
                        <label class="fs-5" for="">{{ formulario_contacto.mensaje.label_tag }}</label>
                        {{ formulario_contacto.mensaje }}
                        {% if formulario_contacto.mensaje.errors %}
                        <div class="error">
                            {% for error in formulario_contacto.mensaje.errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="sumbit" class="btn btn-primary">Enviar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}