{% extends "base.html" %}

{% block content %}

<main class="container py-5">
    <div class="row text-center">
        <h1>Actualiza tu información de usuario</h1>
    </div>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-4 m-auto p-2">
                <label class="fs-5" for="">{{ formulario_perfil.tipo_usuario.label_tag }}</label>
                {{ formulario_perfil.tipo_usuario }}
                {% if formulario_perfil.tipo_usuario.errors %}
                <div class="error">
                    {% for error in formulario_perfil.tipo_usuario.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <!-- Campo Primer Nombre -->
            <div class="col-6 p-2">
                <label class="fs-5" for="">{{ formulario_usuario.first_name.label_tag }}</label>
                {{ formulario_usuario.first_name }}
                {% if formulario_usuario.first_name.errors %}
                <div class="error">
                    {% for error in formulario_usuario.first_name.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <!-- Campo Segundo Nombre -->
            <div class="col-6 p-2">
                <label class="fs-5" for="">{{ formulario_perfil.segundo_nombre.label_tag }}</label>
                {{ formulario_perfil.segundo_nombre }}
                {% if formulario_perfil.segundo_nombre.errors %}
                <div class="error">
                    {% for error in formulario_perfil.segundo_nombre.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <!-- Campo Apellido Paterno -->
            <div class="col p-2">
                <label class="fs-5" for="">{{ formulario_usuario.last_name.label_tag }}</label>
                {{ formulario_usuario.last_name }}
                {% if formulario_usuario.last_name.errors %}
                <div class="error">
                    {% for error in formulario_usuario.last_name.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <!-- Campo Apellido Materno -->
            <div class="col p-2">
                <label class="fs-5" for="">{{ formulario_perfil.apellido_materno.label_tag }}</label>
                {{ formulario_perfil.apellido_materno }}
                {% if formulario_perfil.apellido_materno.errors %}
                <div class="error">
                    {% for error in formulario_perfil.apellido_materno.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <!-- Campo Rut -->
            <div class="col-4 p-2">
                <label class="fs-5" for="">{{ formulario_perfil.rut.label_tag }}</label>
                <div class="input-group">
                    {{ formulario_perfil.rut }}
                    <span class="input-group-text" id="basic-addon1">-</span>
                    {{ formulario_perfil.dv }}
                </div>
                {% if formulario_perfil.rut.errors %}
                <div class="error">
                    {% for error in formulario_perfil.rut.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                {% if formulario_perfil.dv.errors %}
                <div class="error">
                    {% for error in formulario_perfil.dv.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <!-- Campo Email -->
            <div class="col-4 p-2">
                <label class="fs-5" for="">{{ formulario_usuario.email.label_tag }}</label>
                {{ formulario_usuario.email }}
                {% if formulario_usuario.email.errors %}
                <div class="error">
                    {% for error in formulario_usuario.email.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <!-- Campo Telefono -->
            <div class="col-4 p-2">
                <label class="fs-5" for="">{{ formulario_perfil.telefono.label_tag }}</label>
                {{ formulario_perfil.telefono }}
                {% if formulario_perfil.telefono.errors %}
                <div class="error">
                    {% for error in formulario_perfil.telefono.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="row">
            <!-- Campo Direccion -->
            <div class="col-4 p-2">
                <label class="fs-5" for="">{{ formulario_perfil.direccion.label_tag }}</label>
                {{ formulario_perfil.direccion }}
                {% if formulario_perfil.direccion.errors %}
                <div class="error">
                    {% for error in formulario_perfil.direccion.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <!-- Campo Region -->
            <div class="col-4 p-2">
                <label class="fs-5" for="">{{ formulario_perfil.region.label_tag }}</label>
                {{ formulario_perfil.region }}
                {% if formulario_perfil.region.errors %}
                <div class="error">
                    {% for error in formulario_perfil.region.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>

            <!-- Campo Comuna -->
            <div class="col-4 p-2">
                <label class="fs-5" for="">{{ formulario_perfil.comuna.label_tag }}</label>
                {{ formulario_perfil.comuna }}
                {% if formulario_perfil.comuna.errors %}
                <div class="error">
                    {% for error in formulario_perfil.comuna.errors %}
                    <p>{{ error }}</p>
                    {% endfor %}
                </div>
                {% endif %}
            </div>
        </div>

        <div class="text-center">
            <a class="btn btn-danger" href="{% url 'password_change'%}">Cambiar Contraseña</a>
            <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
    </form>


</main>

{% endblock content %}